<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>
      {% block title %}Zyxware TechStream{% endblock %}
    </title>

    {% block stylesheets %}
      <link href="{{ asset('bundles/zyxwarequiz/css/pure-min.css') }}" rel="stylesheet" type="text/css" />
      <style type="text/css">
        .centered {
          margin: 0 auto;
          text-align: center;
        }
      </style>
    {% endblock %}

    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    <style>
        body {
            background-color: #e3e6e6;
            color: #123;
        }
    </style>
  </head>
  <body>
  <div class="pure-g">
    <div class="pure-u-1-4"></div>
    <div class="pure-u-1-2">
      {% block body %}{% endblock %}
    </div>
    <div class="pure-u-1-4"></div>

    {% block javascripts %}

    {% endblock %}
  </body>
</html>
