{% extends 'ZyxwareQuizBundle:Quiz:base.html.twig' %}

{% block title %}
  Quiz Home
{% endblock %}
{% block stylesheets %}
  {{ parent() }}
{% endblock %}
{% block body %}
    <div class = "pure-u-1 centered">
      <div class = "pure-u-1">
        <h1>
          Hi There.
        </h1>
      </div>
      <div class = "pure-u-1">
        Please click on the below button to start quizzing.
      </div>
      <p>
        <a href="{{ url('zyxware_quiz_create') }}" class='pure-button pure-button-primary'>Start</a>
      </p>
    </div>
{% endblock %}

